@{
    ViewData["Title"] = "Home Page";
}

<style>
    :root {
        --fg-color: rgb(67, 68, 73);
        --bg-color: #35363a;
    }

    body {
        background-color: var(--bg-color);
    }

    img {
        width: 100%;
        height: 100%;
    }
</style>

<div class="text-center">
    <img src="~/images/bettersaul.png" alt="My Image">
</div>