@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        width: 100%;
        height: 100%;
    }
</style>

<div class="text-center">
    <img src="~/images/bettersaul.png" alt="My Image">
</div>