
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    :root {
        --fg-color: rgb(67, 68, 73);
        --bg-color: #35363a;
    }

    body {
        background-color: var(--bg-color);
    }

    .container {
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 30px;
        background-color: var(--fg-color);
        border-radius: 10px;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
        color: #FFF;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
        color: #FFF;
    }
</style>

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>We collect personal information when you sign up for an account, use our services, or communicate with us. This may include your name, email address, and payment information.</p>
    <p>We use your personal information to provide you with the services you have requested, to communicate with you, and to improve our services. We may also use your information to send you promotional emails or other communications that we think may be of interest to you.</p>
    <p>We protect your personal information using industry-standard security measures. We will never sell or rent your personal information to third parties.</p>
    <p>If you have any questions or concerns about our Privacy Policy, please contact us at privacy@splitreceipt.com.</p>
</div>